.boxStyle{
    width: 9vw;
height: 12vh;
border-radius: 0.5em;

background-color:  rgba(255, 255, 255, 1);

box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
display: flex;
align-items: center;
justify-content: center;
margin-left: 3em;
margin-top: 3em;
cursor: pointer;

}

.number{
    font-family: Karla;
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    color: rgba(43, 40, 58, 1);
    
    
    
    
    
}